.codigo {
    display: flex;
    justify-content: center;
    color: #f8b31c
}

.volver {
    display: flex;
    justify-content: center;
    color: #f8b31c
}

.registrapp {
    display: flex;
    font-size: 200px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    color: white;
}