<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-title size="small">DuocUC - RegistrAPP</ion-title>
      <ion-img src="assets/img/logo-duoc.png"></ion-img> 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>     
  <div class="codigo">
    <ion-button color="warning" expand="block" href="/codigo">Código QR: </ion-button>  
  </div>
  <ion-progress-bar type="indeterminate" color="primary" value="1" buffer="0.5"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="secondary" value="1" buffer="0.5"></ion-progress-bar>
    <ion-img src="assets/img/qr.png"></ion-img>
  <ion-progress-bar type="indeterminate" color="primary" value="1" buffer="0.5"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="secondary" value="1" buffer="0.5"></ion-progress-bar>

  <div class="registrapp">
    <ion-title size="small">REGISTERAPP - 2021 </ion-title>
  </div>

  <div class="volver">
    <ion-button color="warning" expand="block" href="/perfil">Volver: </ion-button>  
  </div>
</ion-content>
